
<div class="login-container">
  <mat-card class="login-card">
    <mat-card-title class="custom-title">Login to Cookiebase</mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
        <mat-error *ngIf="loginForm.get('email')?.invalid">Valid email is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="$event.stopPropagation(); hide = !hide" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="loginForm.get('password')?.invalid">Password is required (min 6 chars)</mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit">Login</button>
      <button mat-button color="primary" class="full-width" routerLink="/register">
        <mat-icon>person_add</mat-icon>
        Create Account
      </button>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
  </mat-card>
</div>
