.toolbar {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.logo {
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
    user-select: none;
}

.spacer{
    flex: 1 1 auto;
}