/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@500&display=swap');

html, body { height: 100%; }
body, * { margin: 0; font-family: "Afacad Flux", "Helvetica Neue", sans-serif !important; }
.mat-icon {
  font-family: 'Material Icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
