<div class="register-container">
  <mat-card class="register-card">
    <mat-card-title class="custom-title">Create Account</mat-card-title>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" required>
        <mat-error *ngIf="registerForm.get('name')?.invalid">Name is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
        <mat-error *ngIf="registerForm.get('email')?.invalid">Valid email is required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="$event.stopPropagation(); hide = !hide" type="button">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="registerForm.get('password')?.invalid">
          Password is required (min 8 chars)
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput formControlName="confirmPassword" [type]="confirmHide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="$event.stopPropagation(); confirmHide = !confirmHide" type="button">
          <mat-icon>{{confirmHide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
        <mat-error *ngIf="registerForm.hasError('passwordMismatch')">
          Passwords do not match
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" class="full-width" type="submit">Register</button>
      <button mat-button color="primary" class="full-width" routerLink="/login">
        <mat-icon>arrow_back</mat-icon>
        Back to Login
      </button>
      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
    </form>
  </mat-card>
</div>